/* === GLOBAL === */
body {
  background-image: url(../images/background.png);
  width: 100vw;
  height: 100vh;
  font-family: 'Quicksand', sans-serif;
  text-align: center;
}

a {
  text-decoration: none;
}

button {
  background-color: #fac4cf;
  font-family: 'Emilys Candy', cursive;
  color: #9886c7;
  letter-spacing: 0.05em;
  border-radius: 1vw;
  border: solid 0.2vw #9886c7;
  box-shadow: 0 0 1em #fac4cf;
  transition: 0.5s;
  cursor: pointer;
}

/* === COMMUN ===*/

.title {
  font-family: 'Emilys Candy', cursive;
  letter-spacing: 0.05em;
}

/* --- COMMUN WELCOME ET FINISH --- */

.page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  z-index: 2;
  top: 0;
  left: 0;
  background-color: #fac4cf;
  width: 100vw;
  height: 100vh;
  color: #9886c7;
}

.page > .text {
  padding: 2vh 0;
}

.page > .text:nth-child(2) {
  margin-top: 2vh;
}

.page .text:nth-child(3) {
  margin-bottom: 2vh;
}

/* --- GAME BOARD --- */

.game-board {
  width: 100vw;
  height: 100vh;
}

.screen {
  position: relative;
  display: flex;
  justify-content: center;
}

.image {
  position: relative;
  background-image: url(../images/screen.png);
  background-size: cover;
  box-shadow: 0 0 1em #fac4cf;
}

#avatar {
  position: absolute;
  z-index: 1;
  transition: 0.7s;
}

/* Etoiles */

.stars {
  position: absolute;
  z-index: 1;
}

.star {
  position: absolute;
}

/* Boutons */

.buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.btn:hover {
  border: solid 0.5vw #9886c7;
  transition: 0.5s;
}

.row {
  margin-top: 1vh;
}

.row2 {
  display: flex;
  justify-content: space-between;
}

/* --- RECETTES --- */

.recipes {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  z-index: 2;
  top: 0;
  left: 0;
  background-color: #9886c788;
  width: 100vw;
  height: 100vh;
}

.recipe {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  z-index: 1;
  padding: 1em;
  background-color: #fac4cf;
  color: #9886c7;
  border: solid 0.2vw #9886c7;
}

.recipe-close {
  align-self: flex-end;
  border-radius: 50%;
  font-family: sans-serif;
  color: #fac4cf;
  padding: 0;
  border: 0;
  background-color: #9886c7;
  transform: rotate(45deg);
}

.recipe-close:hover {
  transform: rotate(135deg);
  transition: 0.2s;
}

.recipe-buttons {
  align-self: center;
}

.recipe-button {
  width: 22vw;
  font-size: 1.8vw;
}

/** === RESPONSIVE === **/

/* === SMARTPHONE === */

@media screen and (max-width:767px) {
  /* === GLOBAL === */
  button {
    height: 15vw;
    font-size: 5vw;
  }

  /* === COMMUN === */
  .title {
    font-size: 8vw;
  }
  
  .text {
    font-size: 3.5vw;
  }

  /* --- COMMUN WELCOME ET FINISH --- */

  .page {
    padding: 2.5vw;
    box-sizing: border-box;
  }

  .page-button {
    width: 50vw;
  }

  /* --- GAME BOARD --- */
  .game-board {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
  }
  
  /* Commun */
  .image,
  .stars {
    width: 100vw;
    height: 100vw;
  }

  /* Avatar */
  #avatar {
    width: calc(100vw / 15);
    height: calc(100vw / 15);
  }

  /* Etoile */
  .star {
    width: 3.3vw;
  }

  .star:nth-child(1) {
    left: 15vw;
    top: 32vw;
  }
  
  .star:nth-child(2) {
    left: 60.4vw;
    top: 12vw;
  }
  
  .star:nth-child(3) {
    left: 82vw;
    top: 59vw;
  }

  /* Boutons */
  .buttons {
    margin: 2.5vw 0;
  }

  .row > button {
    font-size: 4vw;
  }

  .row2,
  .row3 > button {
    width: 95vw;
  }
  
  .row1 > button,
  .row2 > button {
    width: 30vw;
  }

  /* --- RECETTES --- */
  .recipe {
    width: 80vw;
    height: 30vh;
    border-radius: 2vh;
  }

  .recipe-close {
    height: 8vw;
    width: 8vw;
  }

  .recipe .title {
    font-size: 5vw;
  }
    
  .recipe-button {
    width: 38vw;
    font-size: 3vw;
  }
}

/* === TABLET === */

@media screen and (min-width:768px) and (max-width:1023px) {
  /* === GLOBAL === */
  button {
    height: 8vh;
    font-size: 1.8vh;
  }

  /* === COMMUN === */
  .title {
    font-size: 3vw;
  }
  
  .text {
    font-size: 1.5vw;
  }

  /* --- COMMUN WELCOME ET FINISH --- */
  .page-button {
    width: 20vw;
  }

  /* --- GAME BOARD --- */
  /* Commun */
  .image,
  .stars {
    width: 70vh;
    height: 70vh;
  }

  /* Avatar */
  #avatar {
    width: calc(70vh / 15);
    height: calc(70vh / 15);
  }

  /* Etoile */
  .star {
    height: 2.3vh;
  }

  .star:nth-child(1) {
    left: 10.5vh;
    top: 22.4vh;
  }
  
  .star:nth-child(2) {
    left: 42.3vh;
    top: 8.4vh;
  }
  
  .star:nth-child(3) {
    left: 57.4vh;
    top: 41.3vh;
  }

  /* Boutons */
  .buttons {
    margin-top: 1vh;
  }

  .row2,
  .row3 > button {
    width: 70vh;
  }
  
  .row1 > button,
  .row2 > button {
    width: 22vh;
  }

  /* --- RECETTES --- */
  .recipe {
    width: 50vw;
    height: 50vh;
    border-radius: 1vw;
  }

  .recipe-close {
    height: 8vh;
    width: 8vh;
  }
}

/* === DESKTOP === */

@media screen and (min-width:1024px) {
  /* === GLOBAL === */
  button {
    height: 8vh;
    font-size: 1.8vh;
  }

  /* === COMMUN === */
  .title {
    font-size: 3vw;
  }
  
  .text {
    font-size: 1.5vw;
  }

  /* --- COMMUN WELCOME ET FINISH --- */
  .page-button {
    width: 20vw;
  }

  /* --- GAME BOARD --- */
  /* Commun */
  .image,
  .stars {
    width: 70vh;
    height: 70vh;
  }
  
  /* Avatar */
  #avatar {
    width: calc(70vh / 15);
    height: calc(70vh / 15);
  }

  /* Etoile */
  .star {
    height: 2.3vh;
  }

  .star:nth-child(1) {
    left: 10.5vh;
    top: 22.4vh;
  }
  
  .star:nth-child(2) {
    left: 42.3vh;
    top: 8.4vh;
  }
  
  .star:nth-child(3) {
    left: 57.4vh;
    top: 41.3vh;
  }

  /* Boutons */
  .buttons {
    margin-top: 1vh;
  }

  .row2,
  .row3 > button {
    width: 70vh;
  }
  
  .row1 > button,
  .row2 > button {
    width: 22vh;
  }

  /* --- RECETTES --- */
  .recipe {
    width: 50vw;
    height: 50vh;
    border-radius: 1vw;
  }

  .recipe-close {
    height: 8vh;
    width: 8vh;
  }

}

.none {
  display: none;
}
