/* === GLOBAL === */
body {
  background-image: url(../images/background.png);
  width: 100vw;
  height: 100vh;
  font-family: 'Quicksand', sans-serif;
  text-align: center;
}

a {
  text-decoration: none;
}

button {
  background-color: #fac4cf;
  font-family: 'Emilys Candy', cursive;
  color: #9886c7;
  letter-spacing: 0.05em;
  border-radius: 1vw;
  border: solid 0.2vw #9886c7;
  box-shadow: 0 0 1em #fac4cf;
  transition: 0.5s;
  cursor: pointer;
}

/* === COMMUN ===*/

.title {
  font-family: 'Emilys Candy', cursive;
  letter-spacing: 0.05em;
}

/* --- COMMUN WELCOME ET FINISH --- */

.page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  z-index: 2;
  top: 0;
  left: 0;
  background-color: #fac4cf;
  width: 100vw;
  height: 100vh;
  color: #9886c7;
}

.page > .text {
  padding: 2vh 0;
}

.page > .text:nth-child(2) {
  margin-top: 2vh;
}

.page .text:nth-child(3) {
  margin-bottom: 2vh;
}

/* --- GAME BOARD --- */

.game-board {
  width: 100vw;
  height: 100vh;
}

.screen {
  position: relative;
  display: flex;
  justify-content: center;
}

.image {
  position: relative;
  background-image: url(../images/screen.png);
  background-size: cover;
  box-shadow: 0 0 1em #fac4cf;
}

#avatar {
  position: absolute;
  z-index: 1;
  transition: 0.7s;
}

/* Etoiles */

.stars {
  position: absolute;
  z-index: 1;
}

.star {
  position: absolute;
}

/* Boutons */

.buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.btn:hover {
  border: solid 0.5vw #9886c7;
  transition: 0.5s;
}

.row {
  margin-top: 1vh;
}

.row2 {
  display: flex;
  justify-content: space-between;
}

/* --- RECETTES --- */

.recipes {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  z-index: 2;
  top: 0;
  left: 0;
  background-color: #9886c788;
  width: 100vw;
  height: 100vh;
}

.recipe {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  z-index: 1;
  padding: 1em;
  background-color: #fac4cf;
  color: #9886c7;
  border: solid 0.2vw #9886c7;
}

.recipe-close {
  align-self: flex-end;
  border-radius: 50%;
  font-family: sans-serif;
  color: #fac4cf;
  padding: 0;
  border: 0;
  background-color: #9886c7;
  transform: rotate(45deg);
}

.recipe-close:hover {
  transform: rotate(135deg);
  transition: 0.2s;
}

.recipe-buttons {
  display: flex;
  justify-content: space-evenly;
  align-self: center;
  width: 100%;
}

/** === RESPONSIVE === **/

/* === SMARTPHONE === */

@media screen and (max-width:767px) {
  /* === GLOBAL === */
  button {
    height: 15vw;
    font-size: 5vw;
  }

  /* === COMMUN === */
  .title {
    font-size: 8vw;
  }
  
  .text {
    font-size: 3.5vw;
  }

  /* --- COMMUN WELCOME ET FINISH --- */

  .page {
    padding: 2.5vw;
    box-sizing: border-box;
  }

  .page-button {
    width: 50vw;
  }

  /* --- GAME BOARD --- */
  .game-board {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
  }

    /* Commun */
    .image,
    .stars {
      width: 100vw;
      height: 100vw;
    }
  
  /* Avatar */
  #avatar {
    width: calc(100vw / 15);
    height: calc(100vw / 15);
  }

  /* Etoile */
  .star {
    width: calc(100vw / 30);
  }

  /* Boutons */
  .buttons {
    margin: 2.5vw 0;
  }

  .row > button {
    font-size: 4vw;
  }

  .row1 > button,
  .row2 > button {
    width: 30vw;
  }

  .row2,
  .row3 > button{
    width: 95vw;
  }

  /* --- RECETTES --- */
  .recipe {
    width: 80vw;
    height: 30vh;
    border-radius: 2vh;
  }

  .recipe-close {
    height: 8vw;
    width: 8vw;
  }

  .recipe .title {
    font-size: 5vw;
  }
    
  .recipe-button {
    width: 38vw;
    font-size: 3vw;
  }
  
  @media (orientation: landscape) {
    /* === GLOBAL === */
    button {
      height: 10vw;
      font-size: 4vw;
    }

    /* === COMMUN === */
    .title {
      font-size: 6vw;
    }
    
    .text {
      font-size: 3vw;
    }

    /* --- GAME BOARD --- */
    .game-board {
      align-items: center;
      flex-direction: row;
      justify-content:space-between;
    }
    /* Commun */
    .image,
    .stars {
      width: 100vh;
      height: 100vh;
    }
    
    /* Etoile */
    .star {
      width: calc(100vh / 30);
    }

    /* Boutons */
    .buttons {
      flex: 1;
    }
    .row > button {
      font-size: 3vw;
      height: 15vh;
    }

    .row1 > button,
    .row2 > button {
      width: calc(calc(95vw - 100vh) / 3);

    }

    .row2,
    .row3 > button {
      width: calc(98vw - 100vh);
    }

    /* Avatar */
    #avatar {
      width: calc(100vh / 15);
      height: calc(100vh / 15);
    }

    /* --- RECETTES --- */
    .recipe {
      width: 80vw;
      height: 80vh;
      border-radius: 2vh;
    }

    .recipe-close {
      height: 8vh;
      width: 8vh;
      line-height: 0;
    }
  }
}

/* === TABLET === */

@media screen and (min-width:768px) and (max-width:1023px) {
  /* === GLOBAL === */
  button {
    height: 8vh;
    font-size: 3vw;
  }

  /* === COMMUN === */
  .title {
    font-size: 5vw;
  }
  
  .text {
    font-size: 3vw;
  }

  /* --- COMMUN WELCOME ET FINISH --- */
  .page-button {
    width: 40vw;
  }

  /* --- GAME BOARD --- */
  /* Commun */
  .image,
  .stars {
    width: 70vh;
    height: 70vh;
  }

  /* Avatar */
  #avatar {
    width: calc(70vh / 15);
    height: calc(70vh / 15);
  }

  /* Etoile */
  .star {
    width: calc(70vh / 30);
  }

  /* Boutons */
  .buttons {
    margin-top: 1vh;
  }

  .row2,
  .row3 > button {
    width: 95vw;
  }

  .row1 > button,
  .row2 > button {
    width: 30vw;
  }

  /* --- RECETTES --- */
  .recipe {
    width: 80vw;
    height: 40vh;
    border-radius: 1vw;
  }

  .recipe-close {
    height: 4vh;
    width: 4vh;
  }

  .recipe-button {
    width: 38vw;
  }

  @media (orientation: landscape) {
    /* === GLOBAL === */
    button {
      height: 12vh;
      font-size: 6vh;
    }

    /* === COMMUN === */
    .title {
      font-size: 4vw;
    }

    .text {
      font-size: 2.5vw;
    }

    /* --- COMMUN WELCOME ET FINISH --- */
    .page-button {
      width: 40vw;
    }

    /* --- GAME BOARD --- */
    .game-board {
      display: flex;
      align-items: center;
      flex-direction: row;
      justify-content:space-between;
    }
    /* Commun */
    .image,
    .stars {
      width: 100vh;
      height: 100vh;
    }
    
    /* Etoile */
    .star {
      width: calc(100vh / 30);
    }

    /* Boutons */
    .buttons {
      flex: 1;
    }

    .row > button {
      font-size: 3vw;
      height: 15vh;
    }

    .row1 > button,
    .row2 > button {
      width: calc(calc(95vw - 100vh) / 3);

    }

    .row2,
    .row3 > button {
      width: calc(98vw - 100vh);
    }

    /* Avatar */
    #avatar {
      width: calc(100vh / 15);
      height: calc(100vh / 15);
    }

    /* --- RECETTES --- */
    .recipe {
      width: 80vw;
      height: 80vh;
      border-radius: 2vh;
    }

    .recipe-close {
      height: 4vw;
      width: 4vw;
      font-size: 3vw;
    }

    .recipe-button {
      height: 15vh;
    }
  }
}

/* === DESKTOP === */

@media screen and (min-width:1024px) {
  /* === GLOBAL === */
  button {
    font-size: 3vh;
    height: 8vh;
  }

  /* === COMMUN === */
  .title {
    font-size: 6vh;
  }
  
  .text {
    font-size: 3.5vh;
  }

  /* --- COMMUN WELCOME ET FINISH --- */
  .page-button {
    width: 30vw;
    font-size: 4vh;
  }

  /* --- GAME BOARD --- */
  /* Commun */
  .image,
  .stars {
    width: 70vh;
    height: 70vh;
  }
  
  /* Avatar */
  #avatar {
    width: calc(70vh / 15);
    height: calc(70vh / 15);
  }

  /* Etoile */
  .star {
    width: calc(70vh / 30);
  }

  /* Boutons */
  .buttons {
    margin-top: 1vh;
    flex: 1;
  }

  .row {
    flex: 1;
  }
  .row2,
  .row3 > button {
    width: 70vh;
  }
  
  .row1 > button,
  .row2 > button {
    width: 22vh;
  }

  /* --- RECETTES --- */
  .recipe {
    width: 50vw;
    height: 50vh;
    border-radius: 1vw;
  }

  .recipe-close {
    height: 5vh;
    width: 5vh;
    font-size: 4vh;
  }

  .recipe-button {
    width: 23vw;
  }
}

.none {
  display: none;
}
